doctype 5
html(style="height:100%;")
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
      script(src="http://code.jquery.com/jquery.js")
      script(src='/javascripts/bootstrap.js')
      meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body(style="background-image:url(/images/mochaGrunge.png); height:100%;")
    block header
      div#header
        h1.pull-left#headertitle #{title}
        if loggedin
          div.pad-right.pad-top.pull-right.dropdown(style="margin-right:50px;")
            a.btn.dropdown-toggle(href="#",data-toggle="dropdown")
              span Menu 
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="/logout") Logout
    div.container(style="box-shadow: rgba(0,0,0,.2) 0 3px 5px;background-color:#fff; height:100%;")
      div.row
        div
          div#sidebar.span3
            div(style="text-align:center;")
              img.img-rounded(src="http://placehold.it/200x200")
            div(style="margin-left:10%;")
              h2 Clay Whitley
              p Lorem ipsum lit dolet
            div.sidebarnav
              div
                div.sidebarnavitem.well.well-small
                  a(href="/") Blog
                div.sidebarnavitem.well.well-small
                  a(href="/gallery/albums") Gallery
                div.clearfix
              if loggedin
                a.btn(href="/pages/add") Add Page
        div.span9.offset3
          div#content
            block content
    