doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
      script(src="http://code.jquery.com/jquery.js")
      script(src='/javascripts/bootstrap.js')
      meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body(style="background-image:url(/images/mochaGrunge.png); height:100%;")
    block header
      div#header
        h1.pull-left#headertitle #{title}
        if loggedin
          div.pad-right.pad-top.pull-right.dropdown(style="margin-right:50px;")
            a.btn.dropdown-toggle(href="#",data-toggle="dropdown")
              span Menu 
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="/logout") Logout
    div.container(style="box-shadow: rgba(0,0,0,.2) 0 3px 5px;background-color:#fff; min-height:100%;")
      div.container(style="position:fixed;background-color:#fff;height:100%;")
      div.row
        div
          div#sidebar.span3
            div(style="text-align:center; margin-top:10px;")
              img.img-rounded(src="/images/clay_photo.jpg",style="width:200px; height:200px;")
            div(style="margin-left:10%;margin-right:10%")
              h2 Clay Whitley
              p I'm a front end web developer from Boston, who's attending Dev Bootcamp in San Francisco to learn the way of Ruby on Rails. This site's purpose is to chronicle what I learn on my journey to become a software developer.
            div.sidebarnav
              div
                div.well.well-small
                  a(href="/") Blog
                div.clearfix
              if loggedin
                a.btn(href="/pages/add") Add Page
              if loggedin
                a.btn(href="/blog/add") Add Post
        div.span9.offset3
          div#content
            block content
      div.clearfix
    